{#
Overwrite the base template for forms User
#}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>
{% endblock %}

