{#
Overrides login template.
#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-xs-offset-0 col-sm-offset-3">
            {% block sonata_user_login %}
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h2 class="panel-title">
						    {{ 'base_login_title'|trans({}, 'AppBundle') }}
						</h2>
					</div>

					<div class="panel-body">

						{% block sonata_user_login_error %}
							{% if error %}
								<div class="alert alert-danger alert-error">
								    {{ error|trans({}, 'FOSUserBundle') }}
								</div>
							{% endif %}
						{% endblock %}

						{% block sonata_user_login_form %}
							<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

								<div class="form-group">
									<label for="username" class="col-sm-12">
									    {{ 'security.login.username'|trans({}, 'SonataUserBundle') }}
									</label>
									<div class="col-sm-12">
										<div class="input-group">
    										<span title="{{ 'base_login_input_username_placeholder'|trans({}, 'AppBundle') }}"
    											class="input-group-addon">
    											<span class="glyphicon glyphicon-user"></span>
    										</span>
    										<input type="text" class="form-control" id="username" name="_username"
    											value="{{ last_username }}" required="required"
    											placeholder="{{ 'base_login_input_username_placeholder'|trans({}, 'AppBundle') }}"/>
										</div>
									</div>
								</div>

								<div class="form-group control-group">
									<label for="password" class="col-sm-12">
									    {{ 'security.login.password'|trans({}, 'SonataUserBundle') }}
									</label>
									<div class="col-sm-12">
										<div class="input-group">
    										<span title="{{ 'base_login_input_password_placeholder'|trans({}, 'AppBundle') }}"
    											class="input-group-addon">
    											<span class="glyphicon glyphicon-inbox"></span>
    										</span>
    										<input type="password" class="form-control" id="password" name="_password"
												required="required"
												placeholder="{{ 'base_login_input_password_placeholder'|trans({}, 'AppBundle') }}"/>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-12 col-sm-6 col-md-6 pull-left">
										<div class="checkbox control-group">
											<label for="remember_me">
												<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
												{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
											</label>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 col-md-2 pull-right control-group">
										<button type="submit" id="_submit"  name="_submit" class="btn btn-primary btn-block">
											{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
											<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</form>
						{% endblock %}
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-body">
						<div class="controls col-sm-12">
							{% block sonata_user_registration %}
								<h4>{{ 'base_login_title_user_register'|trans({}, 'AppBundle') }}</h4>
								<span>
								    {{ 'base_login_body_user_register_part1'|trans({}, 'AppBundle') }}
									<a href="{{ path('sonata_user_registration_register') }}">
								        {{ 'base_login_body_user_register_part2'|trans({}, 'AppBundle') }}
									</a>
								    {{ 'base_login_body_user_register_part3'|trans({}, 'AppBundle') }}
								</span>
                            {% endblock %}
						</div>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-body">
						<div class="controls col-sm-12">
							<h4>{{ 'base_login_title_forgot_password'|trans({}, 'AppBundle') }}</h4>
							<span>
							    {{ 'base_login_body_forgot_password_part1'|trans({}, 'AppBundle') }}
								<a href="{{ path('fos_user_resetting_request') }}">
							        {{ 'base_login_body_forgot_password_part2'|trans({}, 'AppBundle') }}
								</a>
							    {{ 'base_login_body_forgot_password_part3'|trans({}, 'AppBundle') }}
							</span>
						</div>
					</div>
				</div>
            {% endblock %}
        </div>
    </div>
{% endblock fos_user_content %}
